extends base

block cont
  .container
    if session.user
      .row
        .col-md-6
          form(action='/complete' method='post')
          .todolist.not-done
            h1 Todos
            ul#sortable.list-unstyled
              each task in session.user.tasks
                if task.status === 0
                  li.ui-state-default
                    a(href=`/viewTask/${task.id}`)= task.title
        .col-md-6
          .todolist
            h1 Already Done
            ul#done-items.list-unstyled
              each task in session.user.tasks
                if task.status === 1
                  li
                    a= task.title
            .todo-footer
              strong
                span.count-todos
              a.btn.btn-danger.my-2.my-sm-0(href='AddTask' role='button' aria-pressed='true') Clear
    else
